<section class="main-container col1-layout">
    <div id="register-page" class="container">
        <div class="account-login">
            <div class="register-box">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 registered-users">
                        <div class="page-title">
                            <h1>Đăng ký</h1>
                        </div>
                        <form accept-charset="UTF-8" [formGroup]="registerForm"
                              (ngSubmit)="register(registerForm.value)" id="customer_register" method="post">
                        <input name="FormType" type="hidden" value="customer_register">
                        <input name="utf8" type="hidden" value="true">
                        <h3 class="page-subheading">Nếu bạn chưa có tài khoản hãy điền theo mẫu dưới đây để đăng
                            ký.</h3>

                        <ul class="form-list">
                            <li>
                                <label for="full_name"> Tên <span class="required">*</span></label>
                                <br>
                                <input type="text" formControlName="full_name" title="Họ Tên" class="form-control" id="full_name"
                                       placeholder="Họ Tên">
                            </li>
                            <li>
                                <label for="email">Email<span class="required">*</span></label>
                                <br>
                                <input type="email" value="" class="form-control" id="email" title="Email" formControlName="email"
                                       placeholder="Email">
                            </li>
                            <li>
                                <label for="password">Mật khẩu<span class="required">*</span></label>
                                <br>
                                <input type="password" value="" id="password" class="form-control" title="Mật khẩu"
                                       formControlName="password" placeholder="Mật khẩu">
                            </li>
                            <li>
                                <label for="password_confirmation">Nhập Lại Mật khẩu<span
                                        class="required">*</span></label>
                                <br>
                                <input type="password" value="" id="password_confirmation" class="form-control"
                                       title="Mật khẩu" formControlName="password_confirmation" placeholder="Nhập Lại Mật khẩu">
                            </li>
                        </ul>
                        <p class="required">* Bắt buộc</p>
                        <div class="buttons-set">
                            <button [disabled]="!registerForm.valid" id="send2" type="submit" class="btn btn-outline">
                                <span>Đăng ký</span>
                            </button>
                            hoặc <a href="/account/login">Đăng nhập</a>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>