<div id="quick-view-product" [style.display]="param" *ngIf="product != null">
  <div class="quickview-overlay fancybox-overlay fancybox-overlay-fixed"></div>
  <div class="quick-view-product">
    <div class="primary_block row">
      <div class="product-left-column col-sm-12 col-md-5 col-lg-5">
        <div class="clearfix image-block col-xs-12 col-sm-12">
          <span class="view_full_size">
            <a *ngIf="product.type ==='App\\Food'" class="" title="{{ product.name }}" [routerLink]="['/foods/detail',product.id]">
                <img class="img-responsive" src="{{ product.image }}" alt="{{ product.name }}">
            </a>
            <a *ngIf="product.type ==='App\\Material'" class="" title="{{ product.name }}" [routerLink]="['/materials/detail',product.id]">
                <img class="img-responsive" src="{{ product.image }}" alt="{{ product.name }}">
            </a>
          </span>
        </div>
      </div>
      <div class="product-right-column col-xs-12 col-sm-7 col-md-7">
        <div class="product-info col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <a *ngIf="product.type ==='App\\Food'" class="qwp-name" [routerLink]="['/foods/detail',product.id]" title="{{ product.name }}">{{ product.name }}</a>
          <a *ngIf="product.type ==='App\\Material'"class="qwp-name" [routerLink]="['/materials/detail',product.id]" title="{{ product.name }}">{{ product.name }}</a>
          <div class="review hidden">
            <span class="shopify-product-reviews-badge" data-id=""></span>
          </div>

          <div class="product-description rte" style="font-size: 10pt" [innerHTML]="product.description.substring(product.description.indexOf('</h3>'), product.description.indexOf('</h3>') + 250)"></div>
          <h5 class="brand"><span>{{ 'category' | translate }}: </span>{{ product.category.name }}</h5>
          <div class="product-sku">
            <p>{{ 'id' | translate }}: <span>{{ product.id }}</span></p></div>
          <div class="availability"><p class="available instock">{{ 'in_stock' | translate }}</p></div>
          <div class="socialsharing_product no-print">
            <ul class="social-sharing list-unstyled">

              <li>
                <a class="btn social-sharing btn-twitter" href="javascript:void(0);">
                  <i class="fa fa-twitter"></i> {{ 'twitter' | translate }}
                </a>
              </li>
              <li>
                <a class="btn social-sharing btn-facebook" href="javascript:void(0);">
                  <i class="fa fa-facebook"></i> {{ 'facebook' | translate }}
                </a>
              </li>
              <li>
                <a class="btn social-sharing btn-google-plus" href="javascript:void(0);">
                  <i class="fa fa-google-plus"></i> {{ 'google' | translate }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="product-extra col-xs-12 col-sm-12 col-md-12 col-lg-12 product-item" id="product-1441801">
          <div>
            <form (submit)="addCart(product)"  enctype="multipart/form-data" class="variants form-ajaxtocart" id="product-actions-1441801">
                        <span class="prices">
                          <span class="price h2  on-sale">{{ product.price.toLocaleString('vi') }} đ</span>
                        </span>
              <button type="submit" name="add" class="ajax_addtocart btn btn-outline">
                <span>{{ 'Buy' | translate }}</span>
              </button>
              <input type="hidden" name="id" value="1441801"><input type="hidden" name="variantId" value="2246368"></form>
          </div>
        </div>
      </div>
    </div>
    <a title="Close" class="quickview-close fancybox-close" (click)="closeViewQuick()">
    </a>
  </div>
</div>
