<footer id="footer" role="contentinfo">
  <div class="bottom">
    <div class="container">
      <div class="row ">
        <div class="col-xs-12 col-md-12">
          <div id="newsletter_block" class="inline">
            <div class="block_content">
              <form class="form_newsletter" action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                <div class="explain">
                  {{ 'register-news' | translate }}
                </div>
                <div class="clearfix input-group input-newsletter">
                  <div class="input-group">
                    <input type="email" value="" placeholder="{{ 'your-email' | translate }}" name="EMAIL" id="mail" class="newsletter-input form-control input-sm" aria-label="">
                    <span class="input-group-btn">
                      <button id="subscribe" class="btn btn-sm btn-newsletter" type="submit">
                        <span>{{ 'follow' | translate }}</span>
                      </button>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <section id="footercenter" class="footer-center">
      <div class="container">
        <div class="footer-center-wrap">
          <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12 " data-wow-delay="100ms">
              <div class="block_aboutshop block">
                <div class="block_content">
                  <div class="box logo-ft">
                    <img src="http://bizweb.dktcdn.net/100/038/419/themes/49902/assets/logo.png?1495677182625" alt="" class="img-responsive">
                  </div>
                  <div class="about">
                    {{ 'about-footer' | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 " data-wow-delay="100ms">
              <div class="footer-block block footer_contact">
                <h4 class="title_block"><span>{{ 'contact' | translate }}</span></h4>
                <div class="block_content" style="">
                  <ul style="">
                    <li class="icon"><i class="fa fa-phone"></i>{{ 'phone' | translate }} <a href="" title="{{ 'contact' | translate }}"> {{ 'my-phone' | translate }}</a></li>
                    <li class="icon"><i class="fa fa-envelope"></i>{{ 'email' | translate }} <a href="">{{ 'my-email' | translate }}</a></li>
                  </ul>
                  <div class="icon"><i class="fa fa-map-marker"></i><span>{{ 'local' | translate }}</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 " data-wow-delay="100ms">
              <div class="footer-block block" id="block_links_footer_2">
                <h4 class="title_block"><span>{{ 'information' | translate }}</span></h4>
                <div class="block_content" style="">
                  <ul style="" class="toggle-footer list-group bullet">
                    <li class="item">
                      <a href="" title="{{ 'guide' | translate }}">{{ 'guide' | translate }}</a>
                    </li>
                    <li class="item">
                      <a href="" title="{{ 'regulations' | translate }}">{{ 'regulations' | translate }}</a>
                    </li>
                    <li class="item">
                      <a href="" title="{{ 'policy' | translate }}">{{ 'policy' | translate }}</a>
                    </li>
                    <li class="item">
                      <a href="" title="{{ 'rules' | translate }}">{{ 'rules' | translate }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 " data-wow-delay="100ms">
              <div class="footer-block block" id="block_links_footer_3">
                <h4 class="title_block"><span>{{ 'team' | translate }}</span></h4>
                <div class="block_content" style="">
                  <ul style="" class="toggle-footer list-group bullet">
                    <li class="item">
                      <a [routerLink]="['/home']" title="{{ 'home' | translate }}">{{ 'home' | translate }}</a>
                    </li>
                    <li class="item">
                      <a [routerLink]="['/daily-menu']" title="{{ 'search-product' | translate }}">{{ 'search-product' | translate }}</a>
                    </li>
                    <li class="item">
                      <a [routerLink]="['/about']" title="{{ 'about-store' | translate }}">{{ 'about-store' | translate }}</a>
                    </li>
                    <li class="item">
                      <a [routerLink]="['/contact']" title="{{ 'infor-contact' | translate }}">{{ 'infor-contact' | translate }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="footernav" class="footer-nav">
      <div class="container">
        <div class="footer-bottom-wrap">
          <div id="powered" class="powered ">
          </div>
        </div>
      </div>
    </section>
  </div>
</footer>
