<div class="content_scene_cat clearfix">
  <div class="content_scene_cat_bg">
    <div class="image">
      <img src="http://bizweb.dktcdn.net/100/038/419/themes/49902/assets/list_collection_default.png?1495677182625"
           alt="Tất cả sản phẩm" class="img-responsive">
    </div>
    <h1 class="page-heading product-listing">{{ titleService.getTitle() }}</h1>
  </div>
</div>
<div class="category-heading clearfix">
  <div class="sortPagiBar clearfix row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <!-- /snippets/collection-sorting.liquid -->
      <div class="form-horizontal">
        <label for="SortBy" class="hidden-xs">{{ 'filter' | translate }}</label>
        <select name="SortBy" id="SortBy" [ngModel] = "sort" (change)="changeSort($event.target.value)">
          <option value="manual">{{ 'manual' | translate }}</option>
          <option value="best-selling">{{ 'best-selling' | translate }}</option>
          <option value="name">{{ 'alpha-asc' | translate }}</option>
          <option value="-name">{{ 'alpha-desc' | translate }}</option>
          <option value="price">{{ 'price-asc' | translate }}</option>
          <option value="-price">{{ 'price-desc' | translate }}</option>
          <option value="-created_at">{{ 'created-desc' | translate }}</option>
          <option value="created_at">{{ 'created-asc' | translate }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
