.product_block {
    width: 195px;
}
.carousel-inner {
    display: inline-flex;
    overflow: visible;
}
#adv_team_4_columns_carousel {
    overflow: auto;
}
.clear_left {
    clear: left;
}
.btn-inverse:hover {
    background-color: #f8694d;
}
.btn-outline-inverse:hover {
    color: white;
}

