<section class="main-container col1-layout">
    <!-- Your Page Content Here -->
    <div class="container">
        <div class="box box-primary clear-fix">
            <div class="box-header">
                <h3 class="box-title">{{ 'user_infomation' | translate }}</h3>
            </div>
            <div class="box-body">
                <form class="form-horizontal" enctype="multipart/form-data" [formGroup]="updateForm"
                      (ngSubmit)="update(updateForm.value)">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="text-center">
                            <img [src]="tokenService.currentUser.image" class="avatar img-circle img-thumbnail"
                                 alt=" avatar">
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{ 'upload_image' | translate }}</label>
                            <div class="col-md-8">
                                <dropzone [config]="config" [message]="imageDragMessage" (error)="onUploadError($event)" (success)="onUploadSuccess($event)" (removedfile)="onRemoveFile($event)"></dropzone>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-md-4 control-label">{{ 'password' | translate }}</label>
                            <div class="col-md-8">
                                <input class="form-control" type="password" formControlName="password">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-md-4 control-label">{{ 'confirm_password' | translate }}</label>
                            <div class="col-md-8">
                                <input class="form-control" type="password" formControlName="password_confirmation">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 personal-info">
                        <div class="form-group ">
                            <label class="col-md-4 control-label">{{ 'full_name' | translate }}</label>
                            <div class="col-md-8">
                                <input class="col-md-6 form-control" type="text" formControlName="full_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{ 'email' | translate }}</label>
                            <div class="col-md-8">
                                <input class="form-control" disabled="" type="text"
                                       formControlName="email">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-md-4 control-label">{{ 'address' | translate }}</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text"
                                       formControlName="address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{ 'gender' | translate }}</label>
                            <div class="col-md-8">
                                <div class="ui-select">
                                    <select class="form-control selèct-hidden-accessible" formControlName="gender"
                                            tabindex="-1" aria-hidden="true">
                                        <option
                                                value="1">{{
                                            'male' | translate }}
                                        </option>
                                        <option 
                                                value="0">{{
                                            'female' | translate }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-md-4 control-label">{{ 'birthday' | translate }}</label>
                            <div class="col-md-8">
                                <input type="date" class="form-control" id="date-picker" formControlName="birthday">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-md-4 control-label">{{ 'phone_number' | translate }}</label>
                            <div class="col-md-8">
                                <input class="form-control" autocomplete="off"
                                       type="text" formControlName="phone_number">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <a class="btn btn-danger" (click)="reset()">{{ 'reset' | translate }}</a>
                                <button class="btn btn-primary" type="submit">
                                    {{ 'save_changes' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div *ngIf="ordersHistory.length > 0" class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Total Orders</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover" id="table-order-history">
                    <thead>
                        <tr>
                            <th>{{ 'id' | translate }}</th>
                            <th>{{ 'ordered_at' | translate }}</th>
                            <th>{{ 'status' | translate }}</th>
                            <th>{{ 'payment' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of ordersHistory">
                            <td>{{ order.id }}</td>
                            <td>{{ order.created_at }}</td>
                            <td>
                                <span *ngIf="order.status == 0" class="label label-danger">{{ 'canceled' | translate }}</span>
                                <span *ngIf="order.status == 1" class="label label-warning">{{ 'pending' | translate }}</span>
                                <span *ngIf="order.status == 2" class="label label-success">{{ 'approved' | translate }}</span>
                                <span *ngIf="order.status == 3" class="label label-primary">{{ 'finished' | translate }}</span>
                            </td>
                            <td>{{ order.total_price }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
                            <!-- /.box-body -->
        </div>
    </div>
</section>